<div
  class="w-screen min-h-screen bg-white flex flex-col justify-center items-center bg-mountain bg-fixed"
>
  <div id="title">
    <div class="text-center text-6xl font-bold">SKUBERG</div>
  </div>
  <div id="description">
    <div class="text-center text-2xl font-normal">Frontend Developer Quiz</div>
  </div>
  <div id="choice" class="mt-12 flex flex-col md:flex md:flex-row">
    <button
      class="w-56 bg-green-600 mx-4 py-4 text-4xl rounded-md text-white font-bold border-2 hover:bg-white hover:text-green-600 hover:border-green-600 outline-none"
    >
      TODO LIST
    </button>
    <button
      class="w-56 bg-red-600 mx-4 py-4 text-4xl rounded-md text-white font-bold border-2 hover:bg-white hover:text-red-600 hover:border-red-600 mt-4 outline-none md:mt-0 "
    >
      MOVIE
    </button>
  </div>
</div>
